.hidden {
    display: none;
}
body {
    background-image: url("https://s1.1zoom.me/big0/753/Drinks_Cocktail_Citrus_495546.jpg");
}
.flexParent{ 
    display:flex; 
    flex-direction:column; 
}
.menubar{
    height: 50px;
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.menubar > div{
    background-color: rgba(10, 10, 10, 0.8);
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-family: "Times New Roman";
}
.menubar > div:hover{
    cursor: pointer;
}
a {
    color: rgb(242, 242, 248);
    text-decoration: none;
}
a:hover {
    color:black;
}
.menuItem:hover{
    background-color: green;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(8, 8, 8);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
    background-color: rgb(254, 254, 255);
}

/* FILTERVIEW CSS */
.filterView{
    display: flex;
}
.filterOptions{
    min-width: 250px;
    margin: 20px;
    color: rgb(242, 242, 248);
    text-decoration: none;
}
.filterOptions p:hover{
    cursor: pointer;

}
.filterTopic{
    text-decoration: underline;
}
.abcSort{
    max-height: 200px;
}

.filterResults{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}
.results{
    margin: 50px;
    text-align: center;
    background-color: rgb(125, 71, 161);
    padding: 10px;
    border-radius: 25px;
}
.results:hover{
    background-color:burlywood;
    cursor: pointer;
}
.resultsP{
    width: 95%;
}
.filterTopic {
    background-color: #fff9f9;
    color: rgb(15, 15, 15);
    padding: 16px;
    font-size: 16px;
    font-family: inherit;
    border-radius: 25px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    padding: 20px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #fdfdfd;}

.rubrik{
    color: #ffffff;
    font-size: 80px;
    font-family: "Times New Roman";
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.viewButton{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.startButton{
    background-color: #87CEFA;
    padding: 15px 32px;
    cursor: pointer;
}

.text{
    color:white;
    text-shadow: 0 0 5px #000000, 0 0 5px #2934ce;
    font-size: 25px;
    font-family: "Times New Roman";
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.detailsView{
    background-color: #ff59;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}