.hidden {
    display: none;
}
body {
    background-color: lightblue;
}
.flexParent{ 
    display:flex; 
    flex-direction:column; 
}

/* MENUVIEW CSS */
.menubar{
    height: 50px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menubar > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace
}
.menubar > div:hover{
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(37, 27, 27, 0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
    background-color: lightsteelblue;
}

/* FILTERVIEW CSS */
.filterView{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}
.results{
    margin: 50px;
    text-align: center;
    background-color: lightslategrey;
    padding: 10px;
}
.results:hover{
    background-color: hotpink;
    cursor: pointer;
}